{% extends 'base.html' %}
{% block mycontent %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/dailycheck.css" />
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/static/js/dailycheckExercise.js"></script>
<script>
    function nextBtn(){
        modal-content.style.display = "block";
        modal-content2.style.display = "none";
      }

      
</script>
<main>	
	<div id="box1">
        
            <canvas id="myChart" >
               
            </canvas> 

        
       

        

        </table>


	</div>
	
	<div id="box2">
		<table id = "inputsection">
            <tr>                
                <td width=250 height=250 style='background-color:#A0DDE0;'> 
                    <a href="#">
                    <ul>스쿼트</ul>
                    <ul>200개</ul>               
                    <ul>150kcal</ul>               
                    </a>
                
                </td>
                <td width=250 height=250 style='background-color:#eee;'><img onclick="addExercise()" width=50 height=50 src='/static/img/basic/plus.png'></td>
            </tr>
            <tr>
                <td width=250 height=250 style='background-color:#eee;'><img onclick="addExercise()" width=50 height=50 src='/static/img/basic/plus.png'></td>
                <td width=250 height=250 style='background-color:#eee;'><img onclick="addExercise()" width=50 height=50 src='/static/img/basic/plus.png'></td>

            </tr>
        </table>
	</div>


    <!-- The Modal -->
    <div id="myModal" class="modal">
        
        <!-- Modal content1 -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <br>
            <form id="all_form" method="post" action="#"> 
                {% csrf_token %}
                <!--activity 고르기-->
                <div class='sel_box' name='activitybox'>
                    <h3 class="join_title">
                        <label>운동항목</label>
                        <br>
                        <p id='des'>원하는 운동항목을 선택하세요.</p>
                    </h3>
                    <div class = "activitysel">
                        <ul id="bicycling" name="activity" value="bicycling">자전거</ul>
                        <ul id="conditioning" name="activity" value="conditioning">체형교정운동</ul>
                        <ul id="healthclub" name="activity" value="healthclub">헬스</ul>
                        <ul id="running" name="activity" value="running">러닝</ul>
                        <ul id="sports" name="activity" value="sports">스포츠</ul>
                        <ul id="walking" name="activity" value="walking">걷기</ul>
                        <ul id="water" name="activity" value="water">수상운동</ul>
                        <ul id="winter" name="activity" value="winter">설상운동</ul>
                    </div>
                    <br>
                    <button class="nextBtn" id='nextBtn' onclick="nextBtn()">Next</span>

                </div>
                <br>
            </form>
        
        </div>
        <div id="myModal2" class="modal2">
            <!-- Modal content2 -->
            <div class="modal-content2">
                <span class="close">&times;</span>
                <br>
                <form id="all_form" method="post" action="#"> 
                    {% csrf_token %}
                    <!--activity 고르기-->
                    <div class='sel_box' name='activitybox'>
                        <h3 class="join_title">
                            <label>운동항목</label>
                            <br>
                            <p id='des'>원하는 운동항목을 선택하세요.</p>
                        </h3>
                        <div class = "activitysel">
                            <ul id="bicycling" name="activity" value="bicycling">자전거</ul>

                        </div>
                        <br>
                        <button class="nextBtn" id='nextBtn' onclick="nextBtn()">Next</span>

                    </div>
                    <br>
                </form>
            
            </div>
        </div>

    </div>
    
    <script>
        // 모달
        function addExercise(){
            modal.style.display = "block";
        }
        // Get the modal
        var modal = document.getElementById("myModal");
 
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>







</main>

{% endblock mycontent %}