$('#nextBtn').click(function(){
    alert(activityName)
    console.log(activityName)
    $.ajax({
        url:'{%url "DailyCheck:exercise1"%}',
        dataType:'json',
        success:function(data){
            console.log(data)
            let str=''
            for (let i=0;i<data.length;i++){
                if (data[i].activity==activityName){
                    str+='<ul class="exercise" name="exercise">'+data[i].ex_name+'</ul>'

                }
            }
            $('#exerciseysel')base.html(str)
        

        },
        error:function(){
            alert('실패')
        }
    })//ajax 


})//nextBtn function